{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "lodash",
    "babel-plugin-syntax-flow",
    "transform-react-inline-elements",
    [
      "transform-imports",
      {
        "react-bootstrap": {
          "transform": "react-bootstrap/lib/${member}"
        }
      }
    ],
    "dynamic-import-webpack"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ]
      ]
    }
  }
}
